<!DOCTYPE html>
<html>
<head>
  <title>Seah Hughes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//use.typekit.net/bdx5mgv.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>

<%= yield %>


<footer>


</footer>

</body>
</html>
